<div class="container">
            <div class="col-md-4 offset-md-4">
                <h3>You have placed your order successfully. </h3>
            </div>
            <h3>Order Details</h3>
            <div>#/Items: {{ dataService.order.items.length }}</div>
            <div>Subtotal: {{ dataService.order.subtotal | currency:"EUR":"symbol" }}</div>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <td>Product</td>
                  <td>#</td>
                  <td>€</td>
                  <td>Total</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of dataService.order.items">
                  <td>{{ o.productName }}</td>
                  <td>{{ o.quantity }}</td>
                  <td>{{ o.productUnitPrice | currency:"EUR":"symbol" }}</td>
                  <td>{{ (o.productUnitPrice * o.quantity) | currency:"EUR":"symbol" }}</td>
                </tr>
              </tbody>
            </table>
            <h3>Shipping Address</h3>
            <table class="table table-sm table-hover">
                    <thead>
                      <tr>
                        <td>Name</td>
                        <td>Address1</td>
                        <td>City</td>
                        <td>County</td>
                        <td>Country</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{dataService.order.customerName }}</td>
                        <td>{{dataService.order.customerAddress1 }}</td>
                        <td>{{dataService.order.customerCity }}</td>
                        <td>{{dataService.order.customerCounty }}</td>
                        <td>{{dataService.order.customerCountry }}</td>
                      </tr>
                    </tbody>
                  </table>
</div>