<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3>Customer Details</h3>
        </div>
        <div class="col-md-4 offset-md-4">
            <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
            <form [formGroup]="customerForm" novalidate>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" formControlName="customerName" name="name" required />
                    <div class="text-danger" *ngIf="name.touched && name.invalid && name.errors.required">Name is required!</div>
                </div>
                <div class="form-group">
                    <label for="address1">Address1</label>
                    <input type="text" class="form-control" name="address1" formControlName="customerAddress1" required />
                    <div class="text-danger" *ngIf="address1.touched && address1.invalid && address1.errors.required">Address1 is required!</div>
                </div>
                <div class="form-group">
                    <label for="address2">Address2</label>
                    <input type="text" class="form-control" name="address2" formControlName="customerAddress2" />
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" formControlName="customerCity" required />
                    <div class="text-danger" *ngIf="city.touched && city.invalid && city.errors.required">City is required!</div>
                </div>
                <div class="form-group">
                    <label for="county">County</label>
                    <input type="text" class="form-control" name="county" formControlName="customerCounty" required />
                    <div class="text-danger" *ngIf="county.touched && county.invalid && county.errors.required">County is required!</div>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" name="country" formControlName="customerCountry" required />
                    <div class="text-danger" *ngIf="country.touched && country.invalid && country.errors.required">Country is required!</div>
                </div>
                <div class="form-group">
                        <button class="btn btn-success" [disabled] = "!customerForm.valid" (click)="onCheckout()">Checkout</button>
                    </div>
            </form>
        </div>
    </div>
</div>