  <h3>Shopping Cart</h3>
  <div>#/Items: {{ dataService.order.items.length }}</div>
  <div>Subtotal: {{ dataService.order.subtotal | currency:"EUR":"symbol" }}</div>
  <div>TotalWeight: {{ dataService.order.totalWeight | number:'2.2-2' }} Kg</div>
  <div class="text-danger" *ngIf="dataService.order.totalWeight > 3">Total weight of the basket should be less than 3 Kg.!</div>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <td>Product</td>
        <td>#</td>
        <td>€</td>
        <td>Weight</td>
        <td>Total</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of dataService.order.items">
        <td>{{ o.productName }}</td>
        <td>{{ o.quantity }}</td>
        <td>{{ o.productUnitPrice | currency:"EUR":"symbol" }}</td>
        <td>{{ (o.productUnitWeight * o.quantity) | number:'2.2-2' }} Kg</td>
        <td>{{ (o.productUnitPrice * o.quantity) | currency:"EUR":"symbol" }}</td>
      </tr>
    </tbody>
  </table>
  
  <button class="btn btn-success" *ngIf="dataService.order.items.length > 0 && dataService.order.totalWeight <=3" (click)="onProceed()">Proceed</button>
  
  
